@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;

    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(/icons/MaterialIcons-Regular.woff) format('woff');
}
