.youtube-container {
    flex-direction: row;
    display: flex;
    width: 100% !important;
    padding:8px;
    background-color: white;
    .youtube-mian-detail-container {
        flex-direction: row;
        display: flex;
        width: 100%;
        .youtube-detail-container {
            width: 640px;
            .list-button-for-play {
                flex-direction: row;
                display: flex;
                border-top: 1px solid;
                border-bottom: 1px solid;
                margin: 8px 0px;
            }
            #player {
                z-index: -1;
            }
            #youtube {
                display: none;
            }
        }
        .youtube-playlist-search-container {
            flex-direction: column;
            display: flex;
            width: 100%;
            .youtube-playlist-container {
                margin-left: 8px;
                width: 100%;
                flex-direction: column;
                display: flex;
                .textfield-youtube-link {
                    width: 100% !important;
                }
                .button-youtube-link-container {
                    width: 100%;
                    flex-direction: row;
                    display: flex;
                    justify-content: flex-end;
                }
            }
            .youtube-list-container {
                .youtube-detail-search-container {
                    flex-direction: row;
                    display: flex;
                    cursor: pointer;
                    margin-bottom: 8px;
                    z-index: 3;
                    .image {
                        min-height: 110px;
                        min-width: 196px;
                        max-height: 110px;
                        max-width: 196px;
                        z-index: 2;
                    }
                    .youtube-detail-search-name-time-container {
                        flex-direction: column;
                        display: flex;
                        .time {
                            color: #767676;
                        }
                        width: 100%;
                    }
                    &:hover {
                        background-color: #AAAAAA;
                    }
                }
            }
        }
    }
}

.youtube-rooms-container {
    flex-direction: column;
    display: flex;
    width: 100% !important;
    height: 100%;
    .create-room-container {
        flex-direction: row;
        margin: 16px;
        .textfield-room {
            width: 80% !important;
        }
        .button-create-room {
            width: 20% !important;
        }
    }
    .rooms-container {
        margin: 0px 16px;
        flex-direction: column;
        display: flex;
    }
}
