@cyan500: #00BCD4;

.main-container {
    .row-flex {
        flex-direction: row;
        display: flex !important;
        .app-container {
            margin: 16px;
            flex-direction: row;
            display: flex;
            .app-button-container {
                flex-direction: column;
                display: flex;
                align-items: center;
            }
        }
    }
}
