body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    margin: 0px;
}
.main {
    width: 100%;
    height: 100%;
}

.hide {
    display: none !important;
}
